@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* vars */
:root {
	--red: #ce3017;
	--green: #09974c;
	--blue: #275db4;
	--yellow: #ffae00;
	--hover: #ffffff28;

	--fg: #ffffff;
	--alt: #53ae7a;
	--bg: #1d1d1d;

	--start: #042f1b;
	--end: #081a2c;

	--opacity: 0.1;
	--rad: 30px;
	--gap: 1rem;
	--width: 800px;
	--font: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, 'Roboto', sans-serif;
}
html {
	--text: var(--fg);
	--background: var(--bg);
	--active: #ffffff55;
	--button: #85858523;
	--highlight: var(--alt);
	--gradient: linear-gradient(45deg, var(--start), var(--end));
}
:root {
	--dark: #1e1e1e;
	--light: #ffffff;
}

/* resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	border: none;
	outline: none;
	/*color: var(--text);*/
	font-family: var(--font);
	scroll-behavior: smooth;
}
li {
	list-style: none;
}
a {
	color: var(--highlight);
	text-decoration: none;
}
body {
	background-color: var(--background);
}

* ::-webkit-scrollbar {
	display: none;
}

html,
body {
	touch-action: pan-x pan-y;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: hidden;
}

#canvas {
	z-index: 0;
}

.info {
	background-color: var(--hover);
	border-radius: 15px;
	padding: 10px;
	width: 100%;
	max-height: calc(90% - 50px);
	text-align: left;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
#info-container {
	position: fixed;
	top: 50px;
	left: 10px;
	height: calc(100% - 50px);
	width: 30%;
	min-width: 240px;
	z-index: 1;
}

#report-take-image {
	display: none;
	width: 120px;
	height: 30px;
	font-weight: bold;
	border-radius: 0.75em;
	box-sizing: border-box;
	text-decoration: none;
	background-color: blue;
	color: #ffffff;
	text-align: center;
	border: none;
	float: right;
	margin-right: 1em;
}
.moderationinfo {
	z-index: 100;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* NAV BUTTONS */
.buttons {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	text-align: left;
	z-index: 100;
	display: block;
}

#buttons form input,
#buttons form button {
	cursor: pointer;
}
.back-button {
	width: 90px;
	height: 30px;
	font-weight: bold;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	background-color: var(--yellow);
	color: #ffffff;
	text-align: center;
	border: none;
}

.fog-button,
.copy-button,
.location-button,
.download-button,
.fullscreen-button,
#leaderboard-button {
	width: 120px;
	height: 30px;
	font-weight: bold;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	background-color: var(--yellow);
	color: #ffffff;
	text-align: center;
	border: none;
	float: right;
}
.fullscreen-button {
	background-color: #00bc87;
}
.download-button {
	display: none;
}

#listButtons {
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	gap: 10px;
	border-radius: 10px;
	background-color: var(--hover);
	width: 100%;
}
/* BUTTONS */
#listButtons > button,
#hideButton,
#unverifyButton,
#verifySkipSuccessButton,
#startButton,
#triggersButton,
#finishButton {
	width: fit-content;
	padding: 5px 20px;
	font-weight: 700;
	color: var(--text);
	border-radius: 15px;
	cursor: pointer;
}
#favoriteButton,
#unfavoriteButton,
#reportButton {
	display: none;
	cursor: pointer;
	background-color: #fff2;
	width: 25px;
	height: 25px;
	padding: 4px;
	border-radius: 50%;
	&:hover {
		background-color: #fff5;
	}
}
#favoriteButton img,
#unfavoriteButton img,
#reportButton img {
	width: 100%;
	height: 100%;
}

#listButtons > button {
	background-color: var(--yellow);
}
#hideButton,
#unverifyButton,
#verifySkipSuccessButton {
	background-color: var(--red);
}

#startButton {
	background-color: #00bc87;
}
#finishButton {
	background-color: #fa8072;
}
#triggersButton {
	background-color: #e49022;
}

#hideReason {
	height: 30px;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}
.creatorButton,
#approveButton,
#verifyButton,
#verifySkipButton {
	height: 30px;
	font-weight: bold;
	width: fit-content;
	padding-right: 20px;
	padding-left: 20px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}
#tagButton {
	font-weight: bold;
	font-size: 0.6rem;
	width: fit-content;
	padding: 0 8px;
	min-height: 15px;
	background-color: green;
	color: var(--text);
	border: none;
	border-radius: 15px;
	cursor: pointer;
}
#tagMenuInner {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
}
#tagMenuInner > div {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
#tagMenuInner input[type='checkbox'] {
	display: none;
}
#tagMenuInner input[type='checkbox'] + label {
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	color: var(--text);
}
#tagMenuInner input[type='checkbox']:checked + label {
	background-color: green;
	color: var(--text);
}
#tagMenuInner button {
	width: 100px;
	height: 30px;
	font-weight: bold;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	background-color: green;
	color: var(--text);
	border: none;
	cursor: pointer;
}
button#cancelTagsButton {
	background-color: red;
}
button#submitTagsButton {
	background-color: green;
}
#tagMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	display: none;
	place-content: center;
	padding-bottom: 30px;
	z-index: 1002;
}

.info-stamp-ok {
	width: 20px;
	height: 20px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 200;
	display: none;
}

.leaderboard {
	color: var(--text);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-height: 70%;
	max-width: 600px;
	background-color: var(--background);
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 300;
	display: none;
}

.leaderboard-header {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.leaderboard-placeholder {
	font-size: 16px;
	font-style: italic;
	margin-top: 10px;
	color: #999999;
}

.leaderboard-content {
	max-height: 50vh;
	overflow-y: scroll;
	border-radius: 5px;
}

.leaderboard-row {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	border-radius: 5px;
}

.leaderboard-row:nth-of-type(even) {
	background-color: var(--button);
}

.leaderboard-row:nth-of-type(odd) {
	background-color: var(--hover);
}

.leaderboard-row.leaderboard-row-creator {
	background-color: #ffee0050;
}

.leaderboard-row.leaderboard-row-self {
	background-color: #00aaff50;
}

.leaderboard-row.leaderboard-row-verification {
	background-color: #00ff6a50;
}

.leaderboard-position,
.leaderboard-name,
.leaderboard-time {
	flex: 1;
	text-align: center;
	font-size: 18px;
}

.leaderboard-name {
	font-weight: bold;
	color: var(--text);
	text-decoration: none;
}

.leaderboard-time {
	span {
		font-style: italic;
		color: #999999;
	}
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.replay-button {
	margin: 0.3em;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	cursor: pointer;
	background-color: #fff7;
	height: 1.6rem;
	width: 1.6rem;
	line-height: 0;
	position: relative;

	&::before {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 0 7px 10px;
		border-color: transparent transparent transparent white;
		position: absolute;
		left: 55%;
		transform: translateX(-50%);
	}
}

.leaderboard-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	cursor: pointer;
}
.leaderboard-button {
	font-weight: bold;
	box-sizing: border-box;
	text-decoration: none;
	background-color: var(--red);
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	margin-block: auto;
	margin-inline: 10px;
}
.leaderboard-query {
	margin-block: 0.4rem;
	width: 100%;
	display: grid;
	grid-template-columns: 8fr 2fr;
	gap: 0.4rem;
	display: none;
}
.leaderboard-query input {
	width: 100%;
	padding: 0.4rem;
	border-radius: 0.5rem;
	background-color: #fff3;
	color: #fff;
}
.leaderboard-query button {
	width: 100%;
	padding: 0.4rem;
	border-radius: 0.5rem;
	background-color: #fff3;
	color: #fff;
	cursor: pointer;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	display: none;
	place-content: center;
	z-index: 1002;
	color: var(--text);
}

.popup-inner {
	background-color: var(--background);
	border-radius: 10px;
	border: 3px solid grey;
	padding: 10px;
}
.popup-inner button,
.popup-inner input,
.popup-inner select,
.popup-inner textarea {
	background-color: #fff3;
	padding: 5px;
	border-radius: 10px;
	color: var(--text);
	&:hover {
		background-color: #fff6;
	}
}

.popup[open='open'] {
	display: grid;
}
#popup-thumbnail {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
	border: 3px solid grey;
	overflow: hidden;
	width: 97.5%;
}
#popup-report-image {
	filter: brightness(1);
	transition: filter 0.3s ease;
	width: 100%;
}
#popup-thumbnail:hover #popup-report-image {
	filter: brightness(0.5);
}
#report-set-image {
	position: absolute;
	background: blue;
	color: white;
	cursor: pointer;
	border: none;
	transform: scale(2); /* Scale button by 2x */
	border-radius: 5px;
}
#report-set-image span {
	transform: scale(0.75);
	display: inline-block;
}
.report-set-image {
	opacity: 0;
	transition: opacity 0.3s ease;
}
#popup-thumbnail:hover .report-set-image {
	opacity: 1;
}
.previewImage {
	border-radius: 10px;
	width: 100%;
}
#applyLeaderboardModifications {
	font-weight: bold;
	box-sizing: border-box;
	text-decoration: none;
	background-color: #f15a5a;
	color: #ffffff;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-inline: 5px;
	display: none;
}
.leaderboard-row.leaderboard-row-removed {
	background-color: #fa8072;
}

.terms-container {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: var(--hover);
	border-top-left-radius: 10px;
	padding-inline: 5px;
	z-index: 1;
}

.terms-link {
	margin-inline: 5px;
	color: var(--light);
	font-weight: normal;
	font-size: 13px;
	transition: color 0.3s;
}

.terms-link:hover {
	color: var(--alt);
}

#tags {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 2px;
	margin-inline: auto;
}

.tag {
	font-size: 0.6rem;
	font-style: italic;
	background-color: var(--green);
	color: var(--text);
	padding: 0 8px;
	border-radius: 50px;
}
#title b {
	font-weight: 700;
	font-size: 20px;
}
#description {
	font-size: 14px;
}
#hideForm {
	margin-bottom: 5px;
}
#scheduled_for_deletion {
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	color: #f00;
}
#scheduled_for_deletion svg {
	width: 20px;
	height: 20px;
}

#animation-controls {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 15px;
	display: none;

	button {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		border-radius: 50%;
		background: #ffae00;
		color: #ffffff;
		cursor: pointer;
		border: none;
		padding: 0;
	}
	svg {
		width: 100%;
		height: 100%;
	}
	#play {
		display: none;
	}

	#time-slider {
		appearance: none;
		-webkit-appearance: none;
		width: 100%;
		height: 20px;
		border-radius: 15px;
		background: #ffffff40;
		outline: none;
		padding-inline: 2px;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: #4642be;
			cursor: pointer;
		}
		&::-moz-range-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: #4642be;
			cursor: pointer;
		}
		&::-webkit-slider-runnable-track {
			width: 100%;
			height: 15px;
			background: #d3d3d3;
			border-radius: 15px;
		}
		&::-moz-range-track {
			width: 100%;
			height: 15px;
			background: #d3d3d3;
			border-radius: 15px;
		}
	}
}
#statistics {
	background-color: var(--hover);
	padding: 5px;
	border-radius: 10px;
}
#signs-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 5px;
}
#signs-container div {
	background-color: var(--hover);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#sublevels-title {
	display: none;
}
#sublevels-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 8px;
}
.sublevel-button {
	padding: 5px 15px;
	font-weight: bold;
	color: #ffffff;
	background-color: var(--blue);
	border-radius: 2em;
	border: none;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
}
#hidecontainer {
	padding: 5px;
	border-radius: 10px;
	background-color: var(--hover);
}
#thumb-container {
	border-radius: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	place-content: center;
	align-items: center;
	justify-content: space-between;
	aspect-ratio: 512 / 288;
}
#thumb-container > * {
	width: 100%;
}
#thumb-container > img {
	position: absolute;
	top: 0;
	left: 0;
}
#main-details {
	display: flex;
	gap: 8px;
	padding: 8px;
}
#difficulty {
	font-size: 0.8rem;
	white-space: nowrap;
	border-radius: 5rem;
	padding-inline: 0.4rem;
	margin-left: auto;
	background-color: #969696;
	color: var(--text);
}
#difficulty.difficulty-impossible {
	background-color: #7f007f;
}
#difficulty.difficulty-veryhard {
	background-color: #ea0000;
}
#difficulty.difficulty-hard {
	background-color: #f19400;
}
#difficulty.difficulty-medium {
	background-color: #e1c800;
}
#difficulty.difficulty-easy {
	background-color: #2bba84;
}
.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	margin-top: auto;
}

@media screen and (max-width: 570px) {
	#info-container {
		max-height: 330px;
	}
	#buttons form input {
		width: 100px;
		height: 26px;
		font-size: 12px;
		margin-left: 2px;
		margin-bottom: 2px;
	}
}
